{% extends 'base.html' %}

{% block title %}{{ user.get_full_name() }}{% endblock %}

{% block content %}

<h1>{{ user.get_full_name() }}</h1>
<img src="{{ user.img_url }}">
<div class="user-form">
    <a id="submit" class="btn btn-primary" href="/users/{{ user.id }}/edit">EDIT USER</a>
    <form id="delete" action="/users/{{ user.id }}/delete" method="POST">
        <button class="btn btn-danger">DELETE USER</button>
    </form>
</div>
<div id="posts">
    <h2>POSTS</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{ post.id }}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <a class="btn btn-primary" href="/users/{{user.id}}/posts/new">New Post</a>
</div>

{% endblock %}